<h2>Configuration des droits des usagers</h2>
<h4>Filtres</h4>
<div class="row">
    <div class="col-md-3">
        Nom: <input type="text" class="form-control" ng-model="nameFilter" ng-change="filter('cipFilter', 'nameFilter')">
    </div>
    <div class="col-md-1" ng-repeat="right in rights">
        {{right}}: <input type="checkbox" class="form-control" ng-model="checkboxes[right]" ng-change="filter('cipFilter', 'nameFilter')">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Cip: <input type="text" class="form-control" ng-model="cipFilter" ng-change="filter('cipFilter', 'nameFilter')">
    </div>
</div>
<br>
<h4>Usagers</h4>
<li class="list-group-item" ng-repeat="member in usersDisplay">
    <div class="row">
        <div class="col-md-3"><h4>{{member.prenom}} {{member.nom}} ({{member.cip}})</h4></div>
        <div class="col-md-3" ng-repeat="right in rights">
            {{right}}
            <button ng-if="member.rights.indexOf(right) === -1" ng-click="addRight(member, right)" class="btn btn-success">Ajouter <span class="glyphicon glyphicon-plus"></span></button>
            <button ng-if="member.rights.indexOf(right) > -1" ng-click="removeRight(member, right)" class="btn btn-danger">Retirer <span class="glyphicon glyphicon-minus"></span></button>
        </div>
    </div>
</li>