<form role="form" action="/addUser" method="post">
  <div class="form-group">
    <label for="cip">CIP:</label>
    <input type="text" class="form-control" id="cip" name="cip" value="<%= cip %>" readonly>
  </div>
  <div class="form-group">
    <label for="prenom">Prénom:</label>
    <input type="text" class="form-control" id="prenom" name="prenom" required>
  </div>
  <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" id="nom" name="nom" required>
  </div>
  <div class="form-group">
    <label for="email">Adresse courriel:</label>
    <input type="email" class="form-control" id="email" name="email" required>
  </div>
  <div class="form-group">
      <label for="phone">Téléphone:</label>
      <input type="tel" class="form-control" id="phone" name="phone" required>
    </div>
  </fieldset>
  <div class="form-group">
    <label for="concentration">Concentration:</label>
    <select class="form-control" id="concentration" name="concentration" required>
        <option>Biotechnologique</option>
        <option>Chimique</option>
        <option>Civil</option>
        <option>Électrique</option>
        <option>Informatique</option>
        <option>Mécanique</option>
      </select>
    </div>
    <div class="form-group">
      <label for="promo">Promotion:</label>
      <select class="form-control" id="promo" name="promo" required>
        <option>57</option>
        <option>58</option>
        <option>59</option>
        <option>60</option>
      </select>
    </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>