<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AGEG</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
  <style>
    body    { padding-top:50px; }
  </style>
</head>
<body class="container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            AGEG
          </a>
        </div>

                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
					<li><a href="/add_location">Locations</a></li>
					<li><a href="/refunds">Remboursements</a></li>
					<% if(typeof userInfo == 'undefined') { %>
						<li><a href="/login">Connection</a></li>
					<% } else {%>
						<% if(userInfo.rights >= adminRights.PERMIE){ %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Permanence</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/edit_location">Ajout locations</a></li>
								</ul>
							</li>
						<% } %>
						<% if(userInfo.rights == adminRights.ADMIN){ %>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin</a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="/admin/access">Manage access rights</a></li>
								</ul>
							</li>
						<% } %>

						<li><a href="/"><%= userInfo.cip %></a></li>
						<li><a href="/logout">Logout</a></li>
					<% } %>
                </ul>
              
            </div>
        </nav>
    </header>

  <main>
    <%- body %>
  </main>

  <footer>
    <p class="text-center text-muted"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a></p>
  </footer>

  <script type="application/javascript" src="/js/jquery-1.11.3.min.js"></script>
  <script type="application/javascript" src="/js/bootstrap.min.js"></script>
  <script type="application/javascript" src="/js/angular.min.js"></script>
  <script type="application/javascript" src="/js/underscore-min.js"></script>
  <script type="application/javascript" src="/js/agegscripts.js"></script>

  
</body>
</html>
