<script type="text/ng-template" id="/profile.html">
  <form id="profile" method="post" name="profile" role="form">
    <fieldset>
      <legend>Utilisateur</legend>
      <div class="form-group">
        <label for="cip">CIP:</label>
        <input type="text" class="form-control" id="cip" name="cip" ng-model="userInfo.cip" title="CIP de l'Université (ex: AGEG1337)" readonly>
      </div>
      <div class="form-group">
        <label for="prenom">Prénom:</label>
        <input type="text" class="form-control" id="prenom" name="prenom" ng-model="userInfo.prenom" required>
      </div>
      <div class="form-group">
        <label for="nom">Nom:</label>
        <input type="text" class="form-control" id="nom" name="nom" ng-model="userInfo.nom" required>
      </div>
      <div class="form-group">
        <label for="email">Adresse courriel:</label>
        <input type="email" class="form-control" id="email" name="email" ng-model="userInfo.email" placeholder="adresse@USherbrooke.ca ou @AGEG.ca" title="Adresse courriel @USherbrooke.ca ou @AGEG.ca" required>
      </div>
      <div class="form-group">
        <label for="phone">Téléphone:</label>
        <input type="tel" class="form-control" id="phone" name="phone" ng-model="userInfo.phone" placeholder="ex: 1-819-569-3776" title="Numéro de téléphone à 9 ou 10 chiffres. Les délimiteurs optionnels autorisés sont '(' ,')' , '-' et ' '." required>
      </div>
      <div class="form-group">
        <label for="dept">Concentration:</label>
      </div>
      <div class="form-group">
        <label for="promo">Promotion:</label>
        <input class="form-control" id="promo" max="99" min="50" name="promo" ng-model="userInfo.promo" step="1" type="number" required>
      </div>
    </fieldset>
    <fieldset>
      <legend>Services avancés</legend>
      <div class="form-group">
        <label for="uname">Utilisateur LDAP de l'AGEG:</label>
        <input type="text" class="form-control" id="uname" name="uname" ng-model="userInfo.uname" placeholder="Pas le CIP ni le matricule!" title="Optionnel, si vous avez un compte personnel sur les serveur de l'AGEG, entrez le ici.&#10; Le format accepté est AGEG\utilisateur ou utilisateur@ageg.local.">
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input class="form-control" disabled id="password" onchange="challengeUser()" name="password" type="password">
      </div>
    </fieldset>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="submit" class="btn btn-primary" name="submit">Submit</button>
      </div>
    </div>
  </form>
</script>
