<script id="/refundMenu.html" type="text/ng-template">
  <div class="jumbotron">
      <h1>Mes demandes de remboursement</h1>
  </div>
  <button type="button" class="btn btn-default" id="new" name="new" ng-click="newRefund()">Créer une nouvelle demande</button>
  <!--<h1>Demandes en cours de rédaction</h1>-->
  <!--<div ng-app="refundsApp" ng-controller="refundsCtrl">-->
  <div>
    <table class="table table-striped">
      <caption>Mes demandes en cours de rédaction</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in refundList | filter : {submitDate: undefined} | orderBy: 'refundID'" ng-click="redirectTo('#/remboursements/'+entry.refundID)">
          <td>{{ entry.refundID }}</td>
          <td>{{ entry.cip }}</td>
          <td>{{ entry.reference }}</td>
          <td>{{ entry.category }}</td>
          <td>{{ entry.billCount }}</td>
          <td>{{ entry.total | currency}}</td>
          <td>{{ entry.notes }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Notes</th>
        </tr>
      </tfoot>
    </table>
    <!--<h1>Demandes en attente de révision</h1>-->
    <table class="table table-striped">
      <caption>Mes demandes en attente de révision</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Date Soumise</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in refundList | filter: {submitDate: '2', status: undefined} | orderBy: 'refundID'" ng-click="redirectTo('#/remboursements/'+entry.refundID)">
          <td>{{ entry.refundID }}</td>
          <td>{{ entry.cip }}</td>
          <td>{{ entry.reference }}</td>
          <td>{{ entry.category }}</td>
          <td>{{ entry.billCount }}</td>
          <td>{{ entry.total | currency}}</td>
          <td>{{ entry.submitDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Date Soumise</th>
        </tr>
      </tfoot>
    </table>
    <!--<h1>Demandes archivées</h1>-->
    <table class="table table-striped">
      <caption>Mes demandes archivées</caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Décision</th>
          <th>Date Traitée</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="entry in refundList | filter: {reviewDate: '2'} | orderBy: 'refundID'" ng-class="archiveColor(entry.status);" ng-click="redirectTo('#/remboursements/'+entry.refundID)">
          <td>{{ entry.refundID }}</td>
          <td>{{ entry.cip }}</td>
          <td>{{ entry.reference }}</td>
          <td>{{ entry.category }}</td>
          <td>{{ entry.billCount }}</td>
          <td>{{ entry.total | currency}}</td>
          <td>{{ archiveDecision(entry.status) }}</td>
          <td>{{ entry.reviewDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>ID</th>
          <th>Demandeur</th>
          <th>Référence</th>
          <th>Catégorie</th>
          <th>Factures</th>
          <th>Total ($)</th>
          <th>Décision</th>
          <th>Date Traitée</th>
        </tr>
      </tfoot>
    </table>
  </div>
</script>
<script id="/refundDetails.html" type="text/ng-template">
  <form role="form" enctype="multipart/form-data" method="post" id="refundform" name="refundform" ng-submit="reqSubmit()">
    <fieldset>
      <legend>Demandeur:</legend>
      <input type="text" class="form-control" id="cip" name="cip" ng-model="refundInfo.cip" placeholder="AGEG1337" readonly required>
    </fieldset>
    <fieldset>
      <legend>Demande</legend>
      <input type="hidden" class="form-control" id="refundID" name="refundID" ng-model="refundInfo.refundID" required>
      <input type="hidden" class="form-control" id="billCount" name="billCount" ng-model="refundInfo.billCount">
      <div class="form-group">
        <label for="reference">Référence</label>
        <input type="text" class="form-control" id="reference" name="reference" ng-disabled="refundInfo.submitted" ng-model="refundInfo.reference" placeholder="Description de la demande" required>
      </div>
      <div class="form-group">
        <label for="cateremboursements/gory">Catégorie budgétaire</label>
        <input type="text" class="form-control" id="category" name="category" ng-disabled="refundInfo.submitted" ng-model="refundInfo.category" placeholder="Catégorie Budgétaire" required>
      </div>
      <div class="form-group">
        <label for="total">Total</label>
        <output id="totalOut" name="totalOut" ng-model="refundInfo.Total">{{ refundInfo.total = (refundInfo.bills | sumOfBills:'value') }}&nbsp;$</output>
        <input type="hidden" class="form-control" id="total" name="total" ng-model="refundInfo.total">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea class="form-control" id="notes" name="notes" ng-disabled="refundInfo.submitted" ng-model="refundInfo.notes" placeholder="Notes sur la demande" rows="4"></textarea>
      </div>
      <div class="form-group" ng-show="refundInfo.submitDate">
        <label for="submitDate">Date de Soumission</label>
        <output id="submitDate" name="submitDate" ng-disabled="true">{{refundInfo.submitDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</output>
      </div>
      <div class="form-group" ng-show="refundInfo.reviewDate">
        <label for="reviewDate">Date de Révision</label>
        <output id="reviewDate" name="reviewDate" ng-disabled="true">{{refundInfo.reviewDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</output>
      </div>
    </fieldset>
    <fieldset ng-repeat="bill in refundInfo.bills">
      <legend>Facture #{{ bill.billID}}</legend>
      <div class="form-group">
        <label for='supplier{{ bill.billID }}'>Fournisseur</label>
        <input class="form-control" id='supplier{{  billNo }}' name='supplier{{ billNo }}' ng-disabled="refundInfo.submitted" ng-model="bill.supplier" type='text' required>
      </div>
      <div class="form-group">
        <label for='value{{ billNo }}'>Montant</label>
        <input class="form-control" id="value{{ bill.billID }}" type='number' name='value{{ bill.billID }}' ng-disabled="refundInfo.submitted" ng-model="bill.value" step='0.01' required>
      </div>
      <div class="form-group">
        <label for='bill{{ bill.billID }}'>Facture</label>
        <input accept="image/*|application/pdf" class="form-control" id="bill{{ bill.billID }}" name="bill{{ bill.billID }}" ng-disabled="refundInfo.submitted" type="file" onchange="angular.element(this).scope().upload(this.id);">
      </div>
      <div class="form-group">
        <label for='note{{ bill.billID }}'>Notes</label>
        <textarea class="form-control" id="note{{ bill.billID }}" name="note{{ bill.billID }}" ng-disabled="refundInfo.submitted" ng-model="bill.notes" placeholder="Notes sur la facture" rows="4"></textarea>
      </div>
    </fieldset>
    <hr id="marker">
    <div class="btn-group btn-group-justified" ng-if="!refundInfo.submitted">
      <div class="btn-group">
        <button type="button" class="btn btn-default" name="add" ng-click="addBill()">Ajouter une facture</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" name="save" ng-Click="saveRequest();">Sauvegarder la demande</buttton>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-success" name="submit">Soumettre la demande</button>
      </div>
    </div>
    <fieldset ng-if="refundInfo.submitted">
      <div class="form-group" ng-class="refundInfo.reviewError">
        <label for="reviewNote">Notes de la Révision</label>
        <textarea class="form-control" id="reviewNote" name="reviewNote" ng-disabled="refundInfo.archive" ng-model="refundInfo.reviewNote" placeholder="Notes de la révision"></textarea>
      </div>
      <div class="btn-group btn-group-justified" ng-if="refundInfo.submitted && !refundInfo.archive">
        <div class="btn-group">
          <button type="button" class="btn btn-success" id="grant" name="grant" ng-Click="grant();">Accepter la demande</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-warning" id="partial" name="partial" ng-Click="partial();">Accepter partiellement la demande</buttton>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-danger" id="deny" name="deny" ng-click="deny();">Refuser la demande</button>
        </div>
      </div>
    </fieldset>
  </form>
</script>