.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.content-box {
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #fff 0, #f8f8f8 100%);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.error, .error:focus, .error:active {
  border-color: red;
  outline: red auto thin;
  outline-color: red;
}